$include /etc/inputrc

# do not bell on tab-completion
set bell-style none
# set bell-style visible

# make autocompletion case insensitive and display suggestions
TAB: menu-complete
set completion-ignore-case On
set show-all-if-ambiguous On
